body,
html {
  background-color: #bcce99 !important;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

a,
a:hover {
  color: rgba(23, 12, 12, 0.807);
}

h1 {
  color: rgba(23, 12, 12, 0.807);
  font-weight: 800;
  font-size: 2.5rem;
}

.navbar a {
  color: #0e1111;
  font-weight: 600;
  font-style: normal;
}

.navbar {
  background-color: white;
}

.footer-basic {
  padding: 20px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* 
dark green: #3e570f  PetShop.html used #556B2F;
light green: #94d025  
white: #f7fcee PetShop.html used #FAEBD7;
salmon (light brown): #dd6e42
maroon (brown): #540b0e

REMEMBER TO RUN: "npm run bootstrap@3"
in project directory to install bootstrap 3
f.e. PS C:\Users\agafu\Documents\GitHub\viapets> (here you start writing: npm install bootstrap@3)
*/
