/* Color Variables */
:root {
  --dark-green: #3e570f;
  --light-green: #94d025;
  --white: #f7fcee;
  --salmon: #dd6e42;
  --maroon: #540b0e;
}

/* 
       blue #214a66
       red #f0574f
       light blue #70c6d3
        yellow #f4c43c
        green #81b972
        grey #cfb79b
  
  */

h2 {
  color: black;
  /* font-family: "Ubuntu", sans-serif; */
  font-weight: 400;
  /* font-style: normal; */
  font-size: 2rem;
}

h3 {
  color: black;
  font-weight: 400;
  /* font-style: normal; */
  font-size: 1.5rem;
}

h4,
p {
  color: black;
  /* font-family: "Ubuntu", sans-serif; */
  font-weight: 300;
  /* font-style: normal;   */
  font-size: 1rem;
}

.title {
  text-align: center;
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  max-width: 100%;
}

.mapswrapper iframe {
  border: 2px solid white;
  border-radius: 0.75rem !important;
  position: relative;
  z-index: 2;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 2px;
  /* Optional: rounded corners */
  display: block;
  width: 100%;
  /* Full width */
  height: 300px;
  /* Set height */
}

.mapswrapper a {
  color: rgba(0, 0, 0, 0);
  /* Hidden link */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

/* Carousel Styles */
.carousel {
  max-width: 100%;
  /* Adjust to your desired width */
  margin: 0 auto;
  /* Center the carousel */
  position: relative;
  /* Needed for absolute positioning of controls */
}

.carousel-inner img {
  margin: 0 auto;
  /* Center the images horizontally */
  height: 450px;
  width: 100%;
  /* Ensure the images take the full width */
  border: 2px solid white;
  border-radius: 0.75rem !important;
  object-fit: cover;
}

/* At 1160px or less, stack items vertically */

/* Responsive Design */

/* Carousel Control Icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--dark-green);
  /* Green background for control icons */
  border-radius: 50%;
  /* Optional: make them round */
}

.contact-block-text {
  padding: 20px;
  background-color: white;
  border-radius: 0.75rem !important;
  height: 100%;
}

@media (max-width: 991.5px) {
  .contact-block {
    margin-bottom: 48px;
  }
}
