.custom-footer {
  background: linear-gradient(to bottom,
      rgba(84, 11, 14, 0),
      rgba(33, 74, 90, 255) 30%);
  /* Light background color */
  color: #343a40;
  /* Dark text color */
  margin-top: 10px;
  /* Adjust margin top */
  padding: 20px;
  /* Padding around the footer */
}

footer svg {
  height: 50px;
  width: auto;
  margin: 20px;
  color: #f7fcee;
  transition: 0.5s;
  opacity: 0.7;
}

footer a:hover svg {
  color: #f7fcee;
  opacity: 1;
}

.text-small {
  font-size: 0.8rem;
  /* Smaller text size */
}

.text-right {
  text-align: right;
  /* Align text to the right */
}